
@font-face {
    font-family: Pop-B;
    src: url(../public/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Pop-M;
    src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pop-R;
    src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Pop-S;
    src: url(../public/fonts/Poppins-SemiBold.ttf);
}

:root {
    --center: #f3f4f7;
    --dark: #424242;
    --light: #acacac;
    --gameclock: #167d30;
    --live: #fdeaed;
    --livetext: #e6445a;
}

* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    overflow-x: hidden;
}

.app__left {
    position: relative;
    width: 25%;
    height: 100%;
}

#app__left--text {
    position: relative;
    font-family: Pop-S;
    font-size: 22px;
    color: var(--dark);
    top: 29%;
    left: 8%;
}

.app__center {
    position: relative;
    background-color: var(--center);
    width: 50%;
    height: 100%;
}

.app__right {
    position: relative;
    right: 0;
    width: 25%;
    height: 100%;
}

#app__right--last {
    position: absolute;
    font-family: Pop-S;
    font-size: 20px;
    color: var(--dark);
    top: 46.5%;
    left: 8%;
}

#app__right--box {
    position: absolute;
    font-family: Pop-S;
    font-size: 20px;
    color: var(--dark);
    left: 8%;
    top: 50px;
}

.app__right hr {
    border: 1px dashed var(--light);
    width: 84%;
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
}

/*========== TEAM SELECTION =========== */
.teamselect {
    position: absolute;
    z-index: 1;
    width: 25%;
}

select {
    height: 42px;
    width: 84%;
    left: 8%;
    top: 45px;
    position: relative;
    font-family: Pop-M;
    color: rgb(93, 93, 93);
    background-color: var(--center);
    border-radius: 8px;
    padding: 12px;
    border: none;
    appearance: none;
    background-image: url(../public/images/svgs/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
}

select:focus {
    outline: none;
}

option {
    background-color: white;
    color: var(--dark);
}

/*=========== SCOREBOARD =========== */
.scoreboard {
    position: absolute;
    background-color: white;
    width: 88%;
    height: 33%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 45px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(49, 49, 49, 0.1);
}

.scoreboard__header {
    height: 65px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}

#scoreboard__nhl {
    display: flex;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#scoreboard__nhl img { width: 67px; }

#scoreboard__nhl p {
    margin-left: -8px;
    font-family: Pop-B;
    font-size: 16px;
    color: var(--dark);
}

.scoreboard hr {
    top: 65px;
    position: relative;
    height: 1px;
    background-color: rgb(212, 212, 212);
    border: none;
}

#scoreboard__start-time {
    font-family: Pop-S;
    font-size: 17px;
    min-width: 100px;
    width: fit-content;
    color: gray;
    position: absolute;
    right: 50px;
}

#scoreboard__status {
    position: absolute;
    left: 50px;
    background-color: #ededed;
    color: gray;
    font-family: Pop-M;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    width: 90px;
}

#scoreboard__status-live {
    background-color: var(--live);
    color: var(--livetext);
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 50px;
    font-family: Pop-S;
    padding: 3px;
    border-radius: 5px;
    width: 90px;
}

#dot {
    background-color: #e6445a;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-right: 5px;
}

.scoreboard__interface {
    display: flex;
    position: absolute;    
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#scoreboard__home, #scoreboard__away {
    width: 220px;
    top: 20px;
    position: relative;
}

#scoreboard__team-name {
    position: relative;
    font-size: 19px;
    font-family: Pop-S;
    color: var(--dark);
    bottom: 15px;
}

#scoreboard__team-record {
    position: relative;
    bottom: 10px;
    font-family: Pop-S;
    font-size: 18px;
    color: var(--light);
}

#scoreboard__clockinfo {
    font-family: Pop-S;
    position: relative;
    top: 15px;
    font-size: 35px;
}

#scoreboard__score {
    color: var(--dark);
    letter-spacing: 55px;
    white-space: nowrap;
    margin-right: -60px;
    background-color: #167d30;
}

#scoreboard__clock {
    color: var(--gameclock);
    font-size: 32px;
}


/*=========== STANDINGS =========== */
.standings {
    width: 84%;
    height: 60%;
    left: 0;
    right: 0;
    overflow-y: scroll;
    margin: 0 auto;
    position: absolute;
    bottom: 55px;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
}

.standings__header {
    position: relative;
    height: 8%;
    width: 100%;
    background-color: #fbfbfd;
    border-bottom: 2px solid #f5f6f7;
    font-family: Pop-M;
    color: var(--light);
    display: flex;
    align-items: center;
}

#team {
    position: absolute;
    left: 30px;
}

#records {
    position: absolute;
    right: 20px;
    word-spacing: 12px;
}

.standings__data {
    position: relative;
    left: 5px;
    height: 10.4%;
    border-bottom: 2px solid #f5f6f7;
    display: flex;
    align-items: center;
}

.standings__rank {
    position: absolute;
    font-family: Pop-M;
    color: var(--light);
    left: 15px;
}

.standings__data img {
    width: 60px;
    position: absolute;
    left: 30px;
}

.standings__teamname {
    position: absolute;
    left: 90px;
    font-family: Pop-S;
    font-size: 14px;
    color: var(--dark);
}

.standings__record {
    position: absolute;
    right: 35px;
    word-spacing: 14px;
    font-size: 13px;
    font-family: Pop-M;
    color: var(--light);
}

/*=========== GAMESTATS =========== */
.gamestats {
    position: absolute;
    background-color: white;
    width: 88%;
    height: 48%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 55px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 0 rgba(49, 49, 49, 0.1);
    font-family: Pop-S;
    color: var(--dark);
    padding: 30px;
}

.gamestats__row {
    display: flex;
    font-size: 24.5px;
    margin-bottom: 30px;
    position: relative;
}

.gamestats span {
    margin-bottom: 8px;
    display: inline-flex;
}

.gamestats progress {
    display: block;
    height: 32px;
    width: 100%;
}

.gamestats__home {
    position: relative;
    margin-left: 60px;
    width: 50%;
}

.gamestats__away {
    width: 50%;
}

.progress--reversed {
    transform: rotate(180deg);
}
.flex {
    display: flex;
    justify-content: space-between;
}

/*=========== LAST GAMES =========== */
.lastgames {
    width: 84%;
    height: 420px;
    bottom: 55px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    overflow-y: scroll;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    font-family: Pop-S;
    font-size: 13px;
    color: var(--dark);
}

.lastgames img {width: 55px;}

.lastgames__game {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f5f6f7;
    padding: 15px;
}

.lastgames__date {
    color: var(--light);
    font-size: 13px;
    position: absolute;
}

.lastgames__score {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 16px;
    white-space: nowrap;
}

.lastgames__away, .lastgames__home {
    display: flex;
    align-items: center;
    position: relative;
    width: 130px;
}

.lastgames__away {
    left: 35px;
    justify-content: end;
}

.lastgames__home { right: 35px; }

/*=========== BOXSCORE =========== */
.boxscore {
    position: absolute;
    width: 87%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 85px;
    border-radius: 8px;
    font-family: Pop-M;
    color: var(--dark);
    padding: 10px;
}

.boxscore img {
    width: 68px;
    height: 50px;
    margin: 5px 0;
}

#boxscore--bold {
    font-family: Pop-S;
    color: black;
}

.boxscore__header {
    border-bottom: 2px solid var(--dark);
}

.boxscore__away, .boxscore__home {
    border-bottom: 1px solid var(--light);
    align-items: center;
    display: flex;
}

#status-label {
    padding-left: 15px;
    width: 45%;
    color: gray;
    display: inline-block;
}

.boxscore__period-label {
    display: inline-flex;
    justify-content: space-between;
    width: 55%;
}

.boxscore__period-label span, .boxscore__data span {
    width: 34px;
    text-align: center;
}

.boxscore__data {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    position: absolute;
    right: 0;
    padding-right: 10px;
}

/*=========== STORE LINK =========== */
.storelink {
    position: absolute;
    width: 84%;
    height: 85px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 275px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #202020 20%, #454545 100%);
    padding-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.storelink:hover {
    transform: scale(1.01);
}

#storelink__p1 {
    font-family: Pop-S;
    font-size: 20px;
    color: #f0f0f0;
    position: absolute;
    top: 18px;
}

#storelink__p2 {
    font-family: Pop-R;
    font-size: 14px;
    position: absolute;
    top: 45px;
    color: #cccccc;
}

#storelink__store-btn {
    position: absolute;
    background-image: url(../public/images/svgs/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 36px;
    height: 36px;
    right: 20px;
}