@font-face {
    font-family: Pop-B;
    src: url(../public/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Pop-M;
    src: url(../public/fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Pop-R;
    src: url(../public/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Pop-S;
    src: url(../public/fonts/Poppins-SemiBold.ttf);
}

:root {
    --center: #f3f4f7;
    --dark: #424242;
    --light: #acacac;
    --gameclock: #167d30;
    --live: #fdeaed;
    --livetext: #e6445a;
}

* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    background-color: var(--center);
}

.app {
    margin: 0 auto;
    display: flex;
    max-width: 1920px;
}

.app__left {
    background-color: white;
    margin: 0 25px;
    position: relative;
    border-radius: 15px;
    width: 23%;
    max-width: 442px;
    height: 880px;
    top: 40px;
    box-shadow: 1px 1px 15px 0 rgb(49 49 49 / 10%);
}

.app__center {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.app__right {
    background-color: white;
    position: relative;
    border-radius: 15px;
    margin: 0 25px;
    width: 23%;
    max-width: 442px;
    height: 880px;
    top: 40px;
    box-shadow: 1px 1px 15px 0 rgb(49 49 49 / 10%);
}

#app__right--last {
    position: absolute;
    font-family: Pop-S;
    font-size: 25px;
    color: var(--dark);
    left: 5%;
    top: 390px;
}

#app__left--text {
    position: relative;
    font-family: Pop-S;
    font-size: 25px;
    color: var(--dark);
    top: 30%;
    left: 5%;
}

/*========== TEAM SELECTION =========== */

select {
    position: absolute;
    margin: 70px 40px;
    width: 21%;
    min-width: 235px;
    max-width: 400px;
    z-index: 999;
    font-family: Pop-M;
    background-color: var(--center);
    color: gray;
    border-radius: 8px;
    padding: 12px;
    border: none;
    appearance: none;
    background-image: url(../public/images/svgs/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    cursor: pointer;
}

select:focus {
    outline: none;
}

option {
    background-color: white;
    color: var(--dark);
}

/*=========== SCOREBOARD =========== */
.scoreboard {
    position: relative;
    background-color: white;
    width: 87%;
    max-width: 845px;
    height: 320px;
    margin: 0 auto;
    margin-bottom: 175px;
    left: 0;
    right: 0;
    top: 75px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0 rgba(49, 49, 49, 0.1);
}

.scoreboard__header {
    height: 65px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#scoreboard__nhl {
    display: flex;
    align-items: center;
}

#scoreboard__nhl img {
    width: 67px;
}

#scoreboard__nhl p {
    margin-left: -10px;
    font-family: Pop-B;
    font-size: 16px;
    color: var(--dark);
}

.scoreboard hr {
    top: 65px;
    position: relative;
    height: 1px;
    background-color: rgb(212, 212, 212);
    border: none;
}


#scoreboard__status {
    background-color: #ededed;
    color: gray;
    font-family: Pop-M;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
    width: 100px;
}

#scoreboard__status-live {
    background-color: var(--live);
    color: var(--livetext);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Pop-S;
    padding: 3px;
    border-radius: 5px;
    width: 80px;
}

#refresh {
    z-index: 9999;
    cursor: pointer;
    width: 100px;
    background-color: transparent;
    border: none;
    background-image: url(../public/images/refresh-cw.svg);
    background-repeat: no-repeat;
    height: 25px;
    background-size: 24px;
    background-position: center;
}

#refresh:hover {
    transform: rotate(45deg);
}

#scoreboard__status-live::before {
    background-color: #e6445a;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    content: "";
    margin-right: 5px;
    animation: liveStatus 5s infinite;
}

@keyframes liveStatus {
    0%   { opacity:1; }
    50%  { opacity:0.1; }
    100% { opacity:1; }
}

.scoreboard__interface {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#scoreboard__home,
#scoreboard__away {
    width: 220px;
    top: 20px;
    position: relative;
}

#scoreboard__home img,
#scoreboard__away img {
    width: 90%;
}

#scoreboard__team-name {
    position: relative;
    font-size: 15px;
    font-family: Pop-S;
    color: var(--dark);
    bottom: 15px;
}

#scoreboard__team-record {
    position: relative;
    bottom: 10px;
    font-family: Pop-S;
    font-size: 18px;
    color: var(--light);
}

#scoreboard__clockinfo {
    font-family: Pop-S;
    position: relative;
    top: 15px;
    font-size: 35px;
}

#scoreboard__score {
    color: var(--dark);
    font-size: 70px;
    white-space: nowrap;
}

#scorboard__clock--gameDate {
    color: grey;
    font-size: 25px;
}

#scoreboard__score span {
    margin: 20px;
}

#scoreboard__clock {
    color: var(--gameclock);
    font-size: 33px;
}

/*=========== STANDINGS =========== */
.standings {
    width: 90%;
    height: 60%;
    left: 0;
    right: 0;
    overflow-y: scroll;
    margin: 0 auto;
    position: absolute;
    bottom: 40px;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
}

.standings__header {
    position: relative;
    height: 40px;
    padding: 20px;
    width: 100%;
    background-color: var(--center);
    border-bottom: 2px solid #f5f6f7;
    font-family: Pop-M;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#records {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.standings__row {
    height: 10.4%;
    padding: 18px;
    border-bottom: 2px solid #f5f6f7;
    display: flex;
    align-items: center;
}

.standings__teamContainer {
    display: flex;
    align-items: center;
}

.standings__rank {
    font-family: Pop-S;
    color: var(--dark);
}

.standings__row img {
    width: 60px;
}

.standings__teamname {
    font-family: Pop-S;
    font-size: 13px;
    color: var(--dark);
}

.standings__record {
    font-size: 13px;
    font-family: Pop-M;
    color: gray;
    display: flex;
    justify-content: space-between;
    width: 80px;
    right: 25px;
    position: absolute;
}

/*=========== GAMESTATS =========== */
.gamestats {
    position: relative;
    background-color: white;
    width: 87%;
    max-width: 845px;
    height: 460px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 60px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 0 rgba(49, 49, 49, 0.1);
    font-family: Pop-S;
    color: var(--dark);
    padding: 30px;
}

.gamestats__row {
    display: flex;
    font-size: 22px;
    margin-bottom: 30px;
    position: relative;
}

.gamestats span {
    display: inline-flex;
}

.gamestats progress {
    display: block;
    height: 33px;
    width: 100%;
}


.gamestats__home {
    position: relative;
    margin-left: 60px;
    width: 50%;
}

.gamestats__away {
    width: 50%;
}

.progress--reversed {
    transform: rotate(180deg);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gamestats__statNumber {
    font-size: 28px;
}

/*=========== LAST GAMES =========== */
.lastgames {
    width: 90%;
    height: 415px;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    overflow-y: scroll;
    border: 2px solid #f1f1f1;
    border-radius: 8px;
    font-family: Pop-S;
    font-size: 13px;
    color: var(--dark);
}

.lastgames img {
    width: 58px;
}

.lastgames__scoreContainer {
    width: 65%;
}


.lastgames__game {
    display: flex;
    align-items: center;
    padding: 10px;
}

.lastgames__team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lastgames__teamInfo {
    display: flex;
    align-items: center;
}

.lastgames__date {
    width: 35%;
    text-align: center;
    color:  #808080;
    font-size: 14px;
    font-family: Pop-R;
}

.lastgames__score {
    width: 40px;
    text-align: center;
}

#line-break {
    width: 100%;
    height: 2px;
    background-color: var(--center);
}


/*=========== BOXSCORE =========== */
.boxscore {
    position: absolute;
    width: 92%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    border-radius: 8px;
    font-family: Pop-M;
    color: var(--dark);
    padding: 10px;
}

.boxscore img {
    width: 68px;
    height: 50px;
    margin: 5px 0;
}

#boxscore--bold {
    font-family: Pop-S;
    color: black;
}

.boxscore__header {
    border-bottom: 2px solid var(--dark);
}

.boxscore__away,
.boxscore__home {
    border-bottom: 1px solid var(--light);
    align-items: center;
    display: flex;
}

#status-label {
    padding-left: 10px;
    width: 45%;
    color: var(--dark);
    display: inline-block;
}

.boxscore__period-label {
    display: inline-flex;
    justify-content: space-between;
    width: 55%;
}

.boxscore__period-label span,
.boxscore__data span {
    width: 34px;
    text-align: center;
}

.boxscore__data {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
    position: absolute;
    right: 0;
    padding-right: 10px;
}

/*=========== STORE LINK =========== */
.storelink {
    position: absolute;
    width: 90%;
    height: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 245px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #202020 20%, #454545 100%);
    padding-left: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.storelink:hover {
    transform: scale(1.01);
}

#storelink__p1 {
    font-family: Pop-S;
    font-size: 18px;
    color: #f0f0f0;
}

#storelink__p2 {
    font-family: Pop-R;
    font-size: 12px;
    color: #cccccc;
}

#storelink__store-btn {
    position: absolute;
    background-image: url(../public/images/svgs/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 32px;
    height: 32px;
    right: 20px;
}

@media only screen and (max-width: 1540px) {
    .standings__teamname {
        display: none;
    }

    #storelink__p1 {
        font-size: 16px;
        top: 24px;
    }

    #storelink__p2 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1280px) {
    .app__right {
        display: none;
    }

    .app__center {
        width: 75%;
    }

    .app__left {
        width: 25%;
        min-width: 270px;
    }

    .scoreboard,
    .gamestats {
        min-width: 600px;
    }
    #scoreboard__team-name {
        display: none;
    }

    #scoreboard__score span {
        margin: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .app__left,
    .app__right,
    #scoreboard__nhl p,
    #scoreboard__team-name {
        display: none;
    }

    .app__center {
        width: 100%;
        margin-top: 35px;
    }

    select {
        position: absolute;
        background-color: white;
        margin: 15px auto;
        left: 0;
        right: 0;
        width: 87%;
        max-width: 100%;
    }

    .scoreboard,
    .gamestats,
    select {
        min-width: 400px;
    }

    .scoreboard {
        height: 250px;
        margin-bottom: 150px;
    }

    #scoreboard__score {
        font-size: 45px;
    }

    #scoreboard__score span {
        margin: 10px;
    }

    #scoreboard__clock {
        font-size: 20px;
    }

    .gamestats {
        height: 350px;
    }

    .gamestats__row {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .gamestats__statNumber {
        font-size: 20px;
    }
}
